<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Creating Wordlists - Reciter </title>
        <link href="../static/css/white_theme.css" rel="stylesheet">
        {% if t_theme == 'black' %}
        <link href="../static/css/black_theme.css" rel="stylesheet">
        {% endif %}
    </head>
    <body>
         <div class="title">
            Reciter
            <a href="/"> Home </a>
            |
            <a href="/lists"> Wordlists </a>
            |
            <a href="/forum"> Forum </a>
            |
             <a href="/yule"> Yule </a>
            |
            <a href="/userlist"> Users </a>
            |
            {% if t_username == None %}
                <a href="/login"> Login </a>
            {% endif %}
            {% if t_username != None %}
                <a href="/login"> Switch Account </a>
            |
                <a href="/profile?username={{ t_username }}"> {{ t_username }} </a>
            {% endif %}
        </div>
        <div class="contents">
            <h2>Create a Wordlist</h2>
            <form action="/check_create" method="post" class="contents_center">
                <input type="text" name="listname" placeholder="List name" required maxlength="64">
                <br>
                <textarea name="wordlist" placeholder="Words..." required class="passage" maxlength="8000"></textarea>
                <br>
                Difficulty level:
                <select name="difficulty">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <br>
                <select name="sm">
                    <option value="n">No example sentence/explanation</option>
                    <option value="y">Including example sentence/explanation</option>
                </select>
                <br>
                {% if t_admin %}
                    <select name="o">
                        <option value="y">Official</option>
                        <option value="n">Unofficial</option>
                    </select>
                    <br>
                {% endif %}
                <br>
                <img src="data:image/png;base64,{{ t_captcha_image | safe }}" alt="Captcha">
                <input type="text" name="user_captcha" placeholder="Graph validate code" maxlength="4" required>
                <br>
                <p class="error">{{ t_error }}</p>
                <br>
                <input type="submit" value="Done">
            </form>
        </div>
        <div class="copy">
            Developed by PeterLu. <br>
            2024, &copy Reciter Dev Team <br>
            All rights reserved.
        </div>
    </body>
</html>
