<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> {{ t_wordlist['listname'] }} - Reciter </title>
        <link href="../static/css/white_theme.css" rel="stylesheet">
        {% if t_theme == 'black' %}
        <link href="../static/css/black_theme.css" rel="stylesheet">
        {% endif %}
    </head>
    <body>
        <div class="title">
            Reciter
            <a href="/"> Home </a>
            |
            <a href="/lists"> Wordlists </a>
            |
            <a href="/forum"> Forum </a>
            |
            <a href="/yule"> Yule </a>
            |
            <a href="/userlist"> Users </a>
            |
            {% if t_username == None %}
                <a href="/login"> Login </a>
            {% endif %}
            {% if t_username != None %}
                <a href="/login"> Switch Account </a>
            |
                <a href="/profile?username={{ t_username }}"> {{ t_username }} </a>
            {% endif %}
        </div>
        <div class="contents">
            <h2>{{ t_wordlist['listname'] }}</h2>
            {% if t_username == t_wordlist['username'] or t_admin %}
                <a href="/modify_list?id={{ t_wordlist['id'] }}">Modify</a>
            <br>
                <a href="/check_del_list?id={{ t_wordlist['id'] }}">Delete</a>
            {% endif %}
            <form action="/prepare_recite" method="post">
                <input type="hidden" name="id" value="{{ t_wordlist['id'] }}">
                <input type="submit" name="pattern" value="Learn meaning">
                <input type="submit" name="pattern" value="Learn spelling">
            </form>

            <h3>List id</h3>
            {{ t_wordlist['id'] }}

            <h3>Creater</h3>
            <a href="/profile?username={{ t_wordlist['username'] }}">{{ t_wordlist['username'] }}</a>

            <h3>Time</h3>
            {{ t_wordlist['timef']}}

            <h3>Difficulty Level</h3>
            {{ t_wordlist['difficulty'] }}

            <h3>Contents</h3>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">En</th>
                        <th scope="col">Zh</th>
                        {% if t_sm %}
                            <th scope="col">Example sentence/explanation</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(0, t_size) %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{{ t_wordlist['en'][i] }}</td>
                            <td>{{ t_wordlist['zh'][i] }}</td>
                            {% if t_sm %}
                                <td>{{ t_wordlist['sen'][i] }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="copy">
            Developed by PeterLu. <br>
            2024, &copy Reciter Dev Team <br>
            All rights reserved.
        </div>
    </body>
</html>