<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> {{ t_dis['title'] }} - Articles - Reciter </title>
        <link href="../static/css/white_theme.css" rel="stylesheet">
        <script src="../../static/javascript/articles.js"></script>
        {% if t_theme == 'black' %}
        <link href="../static/css/black_theme.css" rel="stylesheet">
        {% endif %}
        <!-- 引入KaTeX CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
        <!-- 引入KaTeX JavaScript -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                renderMathInElement(document.body, {
                    delimiters: [
                        {left: "$$", right: "$$", display: true},
                        {left: "\\[", right: "\\]", display: true},
                        {left: "$", right: "$", display: false},
                        {left: "\\(", right: "\\)", display: false}
                    ]
                });
            });
        </script>
        {% if t_theme == 'black' %}
        <link href="../static/css/monokai.css" rel="stylesheet">
        {% endif %}
        {% if t_theme != 'black' %}
        <link href="../static/css/default.css" rel="stylesheet">
        {% endif %}
    </head>
    <body>
        <div class="title">
            Reciter
            <a href="/"> Home </a>
            |
            <a href="/lists"> Wordlists </a>
            |
            <a href="/forum"> Forum </a>
            |
            <a href="/userlist"> Users </a>
            |
            {% if t_username == None %}
                <a href="/login"> Login </a>
            {% endif %}
            {% if t_username != None %}
                <a href="/login"> Switch Account </a>
            |
                <a href="/profile?username={{ t_username }}"> {{ t_username }} </a>
            {% endif %}
        </div>
        <div class="contents">

            {% if t_dis['username'] == t_username or t_admin[t_username] %}
                <a href="/modify_articles?id={{ t_dis['id'] }}">Modify</a>
            <br>
                <a href="/check_del_articles?id={{ t_dis['id'] }}">Delete</a>
            {% endif %}


            <h2>{{ t_dis['title'] }}</h2>
       
            
            <a href="/profile?username={{ t_dis['username'] }}">{{ t_dis['username'] }}</a>
            <br>
            {{ t_dis['timef'] }}
            <br>
            <div class="text_show">
            {{ t_content|safe }}


            {% if t_username == None %}

                <a href="/login">Login</a> to send a comment

                {% endif %}


            <form action="/articles" method="get">

                Order：
                <select name="sorter">
                    {% if t_sorter == 'inverted' %}
                    <option value="inverted">
                        Latest
                    </option>
                    <option value="positive">
                        Time sequence
                    </option>
                    {% endif %}

                    {% if t_sorter == 'positive' %}
                    <option value="positive">
                        Time sequence
                    </option>
                    <option value="inverted">
                        Latest
                    </option>
                    {% endif %}

                </select>
                <input type="hidden" name="id" value="{{t_dis['id']}}">
                <input type="submit" value="Select">

            </form>

            <div class="show">
            {% if t_username != None %}
            <form action="/post_comment" method="post">
                <textarea name="content" placeholder="Input here" required id="myTextarea"></textarea>
                <input type="hidden" name="id" value="{{t_dis['id']}}">
                <input type="hidden" name="username" value="{{t_username}}">
                <input type="submit" value="Submit">
            </form>
                {% endif %}




            {% for i in range(0, t_size) %}
                <br>
                <a href="/profile?username={{t_dis['comment'][i]['username']}}">{{t_dis['comment'][i]['username']}}</a>
                {% if t_dis['comment'][i]['to'] != None %}
                    reply
                    <a href="/profile?username={{ t_dis['comment'][i]['to'] }}">{{ t_dis['comment'][i]['to'] }}</a>
                {% endif %}


                <br>
                {{ t_dis['comment'][i]['timef'] }}


                |
                <a href="#" class="add-text" data-text="@{{t_dis['comment'][i]['username']}}">Reply</a>


                {% if t_dis['username'] == t_username or t_admin[t_username] %}
                    |
                    <a href="/del_comment?id={{t_dis['id']}}&num={{i}}&sorter={{t_sorter}}&sum={{t_size}}">Delete</a>
                {% endif %}


                {% for j in t_dis['comment'][i]['content'] %}
                    <p>{{ j }}</p>
                {% endfor %}
                
            {% endfor %}
            </div>
            </div>
        </div>
        <div class="copy">
            Developed by PeterLu. <br>
            2024, ©️ Reciter Dev Team <br>
            All rights reserved.
        </div>
    </body>
</html>